* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
}

body {
  background-image: url("../img/main-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

header {
  background-image: url("../img/navigation.jpg");
  background-position: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
}

.title {
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}

@media (min-width: 720px) {
  .title {
    font-size: 35px;
  }
}

.backgroundWrapper {
  background: -webkit-gradient(linear, left top, right bottom, color-stop(40%, rgba(0, 0, 0, 0.603)), color-stop(rgba(139, 107, 26, 0.863)), to(black));
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.603) 40%, rgba(139, 107, 26, 0.863), black);
}

.logo {
  height: 6vh;
  line-height: 6vh;
  margin-top: 5px;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  text-align: center;
}

@media (min-width: 720px) {
  .logo {
    font-size: 33px;
  }
}

@media (min-width: 1024px), (orientation: landscape) {
  .logo {
    height: 10vh;
    line-height: 10vh;
  }
}

@media (min-width: 1024px) {
  .logo {
    font-size: 40px;
  }
}

.menu {
  height: 6vh;
  line-height: 6vh;
}

@media (min-width: 1024px), (orientation: landscape) {
  .menu {
    height: 10vh;
    line-height: 10vh;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu__link {
  font-size: 15px;
  text-shadow: 1px 1px black;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 720px) {
  .menu__link {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .menu__link {
    font-size: 22px;
  }
}

.menu__link:hover, .menu__link--active {
  color: goldenrod;
}

.menu__input {
  margin: 0 10px 0 0;
  padding: 5px 10px;
  width: 150px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgba(66, 58, 49, 0.88);
  color: goldenrod;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 719px) {
  .menu__input {
    display: none;
  }
}

@media (min-width: 1024px) {
  .menu__input {
    width: 220px;
    padding: 8px 10px;
  }
}

.menu__input::-webkit-input-placeholder {
  color: #d3d0d0;
}

.menu__input:-ms-input-placeholder {
  color: #d3d0d0;
}

.menu__input::-ms-input-placeholder {
  color: #d3d0d0;
}

.menu__input::placeholder {
  color: #d3d0d0;
}

.productsBoxGrid {
  margin-top: 12vh;
  padding: 20px;
  padding-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.603);
}

@media (orientation: landscape), (min-width: 1024px) {
  .productsBoxGrid {
    margin-top: 20vh;
    padding-top: 120px;
  }
}

@media (min-width: 1024px) {
  .productsBoxGrid {
    -ms-grid-columns: (minmax(150px, 250px))[4];
        grid-template-columns: repeat(4, minmax(150px, 250px));
  }
}

.productsBoxGrid__title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  letter-spacing: 1px;
  background: radial-gradient(100% 50%, #423e3e, rgba(0, 0, 0, 0.603));
  line-height: 250%;
}

.item {
  height: 320px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (min-width: 720px) {
  .item {
    height: 350px;
  }
}

.item__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 115px;
  height: 115px;
  margin-bottom: 5px;
}

@media (min-width: 720px) {
  .item__img {
    width: 155px;
    height: 155px;
  }
}

.item__name {
  font-size: 18px;
}

@media (orientation: landscape), (min-width: 720px) {
  .item__name {
    font-size: 22px;
  }
}

.item__description {
  font-size: 12px;
  overflow: auto;
  margin: 10px;
  min-height: 50px;
}

@media (orientation: landscape), (min-width: 720px) {
  .item__description {
    font-size: 15px;
  }
}

.item__moreDescription {
  display: none;
}

.item__moreDescription--show {
  display: inline-block;
}

.item__readMore:hover {
  color: goldenrod;
}

.item__buy {
  padding: 2px;
  margin: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  border: 1px solid black;
  background-color: goldenrod;
  color: black;
  width: 115px;
  -webkit-transition: .3s;
  transition: .3s;
}

@media (min-width: 720px) {
  .item__buy {
    width: 155px;
    padding: 5px;
  }
}

.item__buy:hover {
  color: goldenrod;
  background-color: black;
  border: 1px solid white;
}

@media (min-width: 720px) {
  .item__buy:hover {
    width: 165px;
    padding: 7px;
  }
}

.about__text {
  font-family: 'Lato', serif;
  padding: 10px 30px 20px;
  text-shadow: 1px 1px black;
  font-size: 16px;
  line-height: 150%;
}

@media (min-width: 720px) {
  .about__text {
    padding: 10px 105px 40px;
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .about__text {
    padding: 20px 155px 50px;
  }
}

@media (min-width: 1200px) {
  .about__text {
    padding: 50px 260px;
    font-size: 22px;
  }
}

.footer {
  height: 4vh;
  line-height: 4vh;
  background-color: rgba(0, 0, 0, 0.541);
  font-size: 10px;
}

@media (min-width: 1024px), (orientation: landscape) {
  .footer {
    height: 5vh;
    line-height: 5vh;
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */