*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
}
 body {
    background-image: url("../img/main-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
  }
  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
  header{
    background-image: url("../img/navigation.jpg");
    background-position: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}
.title{
margin-bottom: 10px;
font-family: 'Lato', sans-serif;
font-size: 25px;
@media (min-width: 720px){
  font-size: 35px;
}
}
.backgroundWrapper{
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.603) 40%, rgba(139, 107, 26, 0.863), rgb(0, 0, 0) );
}
.overlay {
  background-color:rgb(8, 8, 8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0px;
  left: 0px;
  opacity: .5;
  filter: alpha(opacity=50);
}