*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
}
 body {
    background-image: url("../img/main-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
  header{
    background-image: url("../img/navigation.jpg");
    background-position: center;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}
 .wrapper{
   width: 80%;
   margin: 0 auto;
   position: relative;
 }

.title{
margin: 20px 0;
font-family: 'Lato', sans-serif;
font-size: 25px;
@media (min-width: 720px){
  font-size: 35px;
}
}