.productsBoxGrid{
    margin-top: 12vh;
    padding: 20px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.603);
    @media (orientation: landscape), (min-width: 1024px){
        margin-top: 20vh;
        padding-top: 120px;
    } 
    @media (min-width: 1024px){
        grid-template-columns: repeat(4,minmax(150px, 250px));
    }
    &__title{
        position: absolute;
        top: 0;
        left: 10%;
        right: 10%;
        letter-spacing: 1px;
        line-height: 250%;
        text-shadow: 1px 1px black;
        border-bottom: 1px solid white;
    }
}
    
    .item{
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    &__img{
        flex-shrink: 0;
        width: 115px;
        height: 115px;
        margin-bottom: 5px;

        @media (min-width: 720px){
        width: 155px;
        height: 155px;
        }
    }
    &__name{
        font-size: 18px;
        @media (orientation: landscape), (min-width: 720px){
            font-size: 22px;
        }

    }
    &__description{
        font-size: 12px;
        overflow: auto;
        margin: 10px;
        min-height: 50px;
        @media (orientation: landscape), (min-width: 720px){
            font-size: 15px;
        }

    }
    &__moreDescription{
        display:none;
    }
    &__moreDescription--show{
        display: inline-block;
    }
    &__readMore{
        font-size: 12px;
        text-transform: uppercase;
        @media (orientation: landscape), (min-width: 720px){
            font-size: 15px;
        }
        &:hover{
            color: $gold;
        }
    }
    &__buy{
        @include btn;
    }
}