.shoppingCart{
    display: none;  
    background-color: rgb(0, 0, 0);
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 300px;
    &__total,&__exit, &__emptyCart{
        align-self: center;
    }
    &__total{
        grid-column: 2/3;
        grid-row: 1/2;
        margin: 20px 10px 20px 20px;
        font-weight: bold;
    }
    &__totalPrice{
        margin: 0 5px;
    }
    &__exit{
        grid-column: -1/-2;
        grid-row: 1/2;
        margin-left: 70%;
        font-size: 15px;
        transition: .5s;
        &:hover i{
            font-size: 18px;
        }
        @media (min-width: 1024px) {
            font-size: 18px;
            &:hover i{
                font-size: 22px;
            }
        }
    }
    &__emptyCart{
        @include btn;
        grid-column: 1/-1;
        font-size: 14px;
        height: 30px;
        justify-self: center;
        margin: 30px 0;
        @media (min-width: 1024px){
            font-size: 16px;
            height: 40px;
        }
    }
    &__itemsContainer{
        grid-column: 1/-1;
    }
}
.itemsContainer{
        display: grid;
        grid-template-columns: 1fr;
        max-height: 100%;
        overflow: auto;
    &__product{
            margin: 0 5%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            @media (min-width: 1024px) {
                margin: 0 15%;
            }
        }
    &__img{
        grid-column: 1;
        height: 60px;
        width: 60px;
        margin: 20px 10px 20px 20px;
        @media (min-width: 720px) {
            height: 80px;
            width: 80px;
        }
    }
    &__name, &__price, &__input, &__emptyInfo{
        align-self: center;
        justify-self: center;
    }
    &__name{
        font-weight: normal;
    }
    &__input{
        grid-column: 3/4;
        background-color: rgb(78, 77, 77);
        height: 24px;
        width: 30px;
        margin: 30px;
    }
    &__emptyInfo{
        grid-column: 1/-1;
        grid-row: 2/3;
        font-weight: normal;
    }
}
.shoppingCart--active{
    position: fixed;  
    display: grid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    width: 100vw;
    max-width: 1200px;
    z-index: 4;
    max-height: 100vh;
    overflow: auto;
}
.shoppingCart, .itemsContainer__emptyInfo, .itemsContainer__name, .itemsContainer__price{
    font-size: 15px;
    @media (min-width: 720px) {
        font-size: 18px;
    }
    @media (min-width: 1024px) {
        font-size: 20px;
    }
}